/vendor
/node_modules
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
/public/storage
/storage/*.key
.env.backup
.env.*
/storage/app/public
/storage/debugbar
.idea
*.log
*.sqlite
*.sqlite3
*.bak
.DS_Store
*.swp
